.navbar a, h6 {
	letter-spacing: .15rem;
	font-size: 0.8rem;
}

h1 {
	letter-spacing: 0.15rem;
	font-weight: 100;
}

h6 {
	color: #bbb;
}

section {
	text-align: center;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.display-2 {
	font-weight: 100;
}

.intro {
	padding-top: 20px;
}

.intro img {
	width: 80%;
	margin-bottom: -45%;
}

.container {
	overflow: hidden;
}

blockquote p {
	font-weight: 300;
}

.full-width {
	width: 100%;
	height: auto;
}

.stats-span {
	color: #888;
	text-transform: uppercase;
	font-size: 0.85rem;
}

span.counter {
	font-size: 4rem;
}

.info {
	position: relative;
}

i {
	position: absolute;
	left: 0;
	top: -0.5rem;
	font-size: 2.2rem;
	color: #685D9F;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.carousel-item .container {
	padding: 6.5rem 0;
}

.carousel-indicators li {
	background-color: #B2B2B2;
}

.carousel-indicators .active {
	border:1px solid #B2B2B2;
}

.carousel-control {
	color: #b2b2b2;
}

hr {
	border:1 px solid #b2b2b2;
	width: 80%
}

footer {
	background-color: #1B1C1D;
}

footer p {
	color: rgba(116, 119, 123, .5);
	font-size: 0.7rem;
	margin-bottom: 0.5rem;
}

@media only screen and (max-width: 460px) {
	.display-2 {
		font-size: 3.5rem;
	}
}
